doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- FONT AWESOME
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        link(rel="shortcut icon", href="/assets/logos/logo.svg", type="image/x-icon")
        //- STYLE CSS
        link(rel="stylesheet", href="../css/main.css")
        title CreateX
    body 
        .header-hero-wrapper 
            //- HEADER START
            include companents/header
            //- HEADER END

            //- HERO SATRT
            include companents/hero
            //- HERO SATRT

        //- MAIN START
        main.main 
            //- WHY-SECTION START
            include companents/why-section
            //- WHY-SECTION END

            //- COURSES-START
            include companents/courses
            //- COURSES-END

            //- PRACTICE START
            include companents/practice
            //- PRACTICE END

            //- LECTURE-WORKSHOP START
            include companents/lecture-workshop
            //- LECTURE-WORKSHOP END

            //- CERTIFICATE START
            include companents/certificate
            //- CERTIFICATE END

            //- TEAM START
            include companents/team
            //- TEAM END

            //- POSTS START
            include companents/posts
            //- POSTS END

            //- SUBSCRIPTION START
            include companents/subscription
            //- SUBSCRIPTION END

        //- FOOTER START
        include companents/footer
        //- FOOTER END


            
        









            
            
        
        //- MAIN START

