section.certificate 
    .container
        .certificate-left 
            h6.heading1 Createx Certificate
            h2.heading2 Your expertise will be confirmed
            p.desc We are accredited by international professional organizations and institutes:

            span 
                img(src="/assets/logos/certificate-logo1.svg", alt="logo")
                img(src="/assets/logos/certificate-logo2.svg", alt="logo")
                img(src="/assets/logos/certificate-logo3.svg", alt="logo")
        .certificate-right
            img(src="/assets/image/certificate-img.png", alt="rasm")