section.courses 
    .container
        .courses-top 
            span.courses-heading-wrapper 
                h6.courses-heading1 Ready to learn?
                h2.courses-heading2 Featured Courses
            button.courses-view-btn View all courses

        .courses-main 
            ol.courses-list 
                li.courses-list-item 
                    span.courses-list-item-left
                        img(src="/assets/image/courses-img1.png", alt="rasm")
                    span.courses-list-item-right
                        span.courses-direction.marketing Marketing
                        h3.courses-item-heading The Ultimate Google Ads Training Course
                        span.courses-item-price-name-wrapper 
                            ins $100
                            p | by Jerome Bell

                li.courses-list-item 
                    span.courses-list-item-left
                        img(src="/assets/image/courses-img1.png", alt="rasm")
                    span.courses-list-item-right
                        span.courses-direction.marketing Marketing
                        h3.courses-item-heading The Ultimate Google Ads Training Course
                        span.courses-item-price-name-wrapper 
                            ins $100
                            p | by Jerome Bell
                        
                li.courses-list-item 
                    span.courses-list-item-left
                        img(src="/assets/image/courses-img1.png", alt="rasm")
                    span.courses-list-item-right
                        span.courses-direction.marketing Marketing
                        h3.courses-item-heading The Ultimate Google Ads Training Course
                        span.courses-item-price-name-wrapper 
                            ins $100
                            p | by Jerome Bell

                li.courses-list-item 
                    span.courses-list-item-left
                        img(src="/assets/image/courses-img1.png", alt="rasm")
                    span.courses-list-item-right
                        span.courses-direction.marketing Marketing
                        h3.courses-item-heading The Ultimate Google Ads Training Course
                        span.courses-item-price-name-wrapper 
                            ins $100
                            p | by Jerome Bell

                li.courses-list-item 
                    span.courses-list-item-left
                        img(src="/assets/image/courses-img1.png", alt="rasm")
                    span.courses-list-item-right
                        span.courses-direction.marketing Marketing
                        h3.courses-item-heading The Ultimate Google Ads Training Course
                        span.courses-item-price-name-wrapper 
                            ins $100
                            p | by Jerome Bell

                li.courses-list-item 
                    span.courses-list-item-left
                        img(src="/assets/image/courses-img1.png", alt="rasm")
                    span.courses-list-item-right
                        span.courses-direction.marketing Marketing
                        h3.courses-item-heading The Ultimate Google Ads Training Course
                        span.courses-item-price-name-wrapper 
                            ins $100
                            p | by Jerome Bell