footer.footer 
    .container 
        .footer-main 
            ol.footer-main-list 
                li.footer-main-list-item 
                    img(src="/assets/logos/footer-logo.svg", alt="logo").footer-logo
                    p.footer-desc Createx Online School is a leader in online studying. We have lots of courses and programs from the main market experts. We provide relevant approaches to online learning, internships and employment in the largest companies in the country. 
                    
                    .icons-wrapper 
                        a(href="#")
                            i.fa-brands.fa-facebook-f.footer-facebook 
                        a(href="#")
                            i.fa-brands.fa-twitter.footer-twitter 
                        a(href="#")
                            i.fa-brands.fa-youtube.footer-youtube  
                        a(href="#")
                            i.fa-brands.fa-telegram.footer-telegram
                        a(href="#")  
                            i.fa-brands.fa-instagram.footer-instagram
                        a(href="#") 
                            i.fa-brands.fa-linkedin-in.footer-linkedin
                    
                li.footer-main-list-item 
                    h2.footer-main-item-heading SITE MAP
                    ol.footer-main-item-list
                        li.footer-main-item__list-item #[a(href="#") About Us] 
                        li.footer-main-item__list-item #[a(href="#") Courses]
                        li.footer-main-item__list-item #[a(href="#") Events] 
                        li.footer-main-item__list-item #[a(href="#") Blog] 
                        li.footer-main-item__list-item #[a(href="#") Contacts]
                        
                li.footer-main-list-item 
                    h2.footer-main-item-heading COURSES
                    ol.footer-main-item-list
                        li.footer-main-item__list-item #[a(href="#") Marketing] 
                        li.footer-main-item__list-item #[a(href="#") Managements]
                        li.footer-main-item__list-item #[a(href="#") HR & Recruting] 
                        li.footer-main-item__list-item #[a(href="#") Design] 
                        li.footer-main-item__list-item #[a(href="#") Development] 

                li.footer-main-list-item 
                    h2.footer-main-item-heading CONTACT US
                    ol.footer-main-item-list
                        li.footer-main-item__list-item.footer-tel 
                            a(href="tel:4055550128" ) #[i.fa-solid.fa-phone-volume] (405) 555-0128
                        li.footer-main-item__list-item.footer-email 
                            a(href="#") #[i.fa-regular.fa-envelope] hello@createx.com

                li.footer-main-list-item 
                    h2.footer-main-item-heading SIGN UP TO OUR NEWSLETTER
                    form.footer-sign-up-form
                        input(type="email" placeholder='Email address').footer-sign-up-input
                        i.fa-solid.fa-arrow-right
                    p.footer-sign-up-desc *Subscribe to our newsletter to receive communications and early updates from Createx SEO Agency.

.footer-bottom 
    .container  
        p.footer-bottom-desc1 © All rights reserved. Made with #[i.fa-regular.fa-heart] by Createx Studio 
        p.footer-bottom-desc2 
            a(href="#") GO TO TOP
                        