header.header 
    .container 
        span.header-left 
            img(src="/assets/logos/logo.svg", alt="logo")
            .navbar 
                ol.nav-list 
                    li.nav-list-item #[a(href="#") About Us] 
                    li.nav-list-item #[a(href="#") Courses]  
                    li.nav-list-item #[a(href="#") Events]  
                    li.nav-list-item #[a(href="#") Blog]  
                    li.nav-list-item #[a(href="#") Contacts]  
        
        span.header-right 
            button.consiltation-btn Get consultation
            button.login-btn #[i.fa-regular.fa-user] Log in / Register