section.hero 
    .container 
        .hero-main 
            .hero-left
                span.play-showreel
                    //- i.fa-regular.fa-circle-play
                    img(src="/assets/icon/small.svg", alt="play")
                    p.play-show-text Play showreel
                h1.hero-heading Enjoy studying with Createx Online Courses
                span.hero-btn-wrapper 
                    button.about-btn About us
                    button.courses-btn Explore courses
            .hero-right
                img(src="/assets/image/hero-right-img.png", alt="rasm")

        .hero-bottom 
            ul.hero-bottom-list     
                li.hero-bottom-item #[span 1200] Students graduated
                span.hero-span 
                li.hero-bottom-item #[span 84] Completed courses
                span.hero-span 
                li.hero-bottom-item #[span 16] Qualified tutors
                span.hero-span 
                li.hero-bottom-item #[span 5] Years of experience

                    