section.lecture-workshop 
    img(src="/assets/image/lecture-workshop-bg-img1.png", alt="rasm").lecture-workshop-bg-img1
    img(src="/assets/image/lecture-workshop-bg-img2.png", alt="rasm").lecture-workshop-bg-img2
    .container 
        h3.heading1 Our Events
        h2.heading2 Lectures & workshops
        ol.list
            li.item 
                span.item-left 05 #[span.item-left-span #[span.month August ] #[span.hour 11:00 – 14:00]]
                span.item-center 
                    h3.item-center-heading Formation of the organizational structure of the company in the face of uncertainty.
                    p.item-center-desc Onine master-class
                span.item-right 
                    button.item-right-view-btn View more

            li.item 
                span.item-left 05 #[span.item-left-span #[span.month August ] #[span.hour 11:00 – 14:00]]
                span.item-center 
                    h3.item-center-heading Formation of the organizational structure of the company in the face of uncertainty.
                    p.item-center-desc Onine master-class
                span.item-right 
                    button.item-right-view-btn View more

            li.item 
                span.item-left 05 #[span.item-left-span #[span.month August ] #[span.hour 11:00 – 14:00]]
                span.item-center 
                    h3.item-center-heading Formation of the organizational structure of the company in the face of uncertainty.
                    p.item-center-desc Onine master-class
                span.item-right 
                    button.item-right-view-btn View more

        .lecture-workshop-bottom 
            h3.bottom-heading Do you want more?
            button.bottom-btn Explore all events
        