section.posts 
    .container 
        .posts-top 
            span.posts-top-heading-wrapper 
                h6.posts-top-heading1 Our blog
                h2.posts-top-heading2 Latest posts

            button.posts-top-btn Go to blog

        ol.posts-list 
            li.posts-list-item 
                span.posts-podcast #[i.fa-solid.fa-microphone] Podcast
                img(src="/assets/image/posts-img1.png", alt="rasm")
                br
                span.posts-item-date Marketing |#[  ] #[i.fa-regular.fa-calendar]  September 4, 2020 | #[i.fa-regular.fa-clock] 36 min
                h3.posts-item-heading What is traffic arbitrage and does it really make money?
                p.posts-item-desc Pharetra, ullamcorper iaculis viverra parturient sed id sed. Convallis proin dignissim lacus, purus gravida...
                button.posts-item-btn Listen #[i.fa-solid.fa-arrow-right]

            li.posts-list-item 
                span.posts-podcast #[i.fa-solid.fa-microphone] Podcast
                img(src="/assets/image/posts-img1.png", alt="rasm")
                br
                span.posts-item-date Marketing |#[  ] #[i.fa-regular.fa-calendar]  September 4, 2020 | #[i.fa-regular.fa-clock] 36 min
                h3.posts-item-heading What is traffic arbitrage and does it really make money?
                p.posts-item-desc Pharetra, ullamcorper iaculis viverra parturient sed id sed. Convallis proin dignissim lacus, purus gravida...
                button.posts-item-btn Listen #[i.fa-solid.fa-arrow-right]

            li.posts-list-item 
                span.posts-podcast #[i.fa-solid.fa-microphone] Podcast
                img(src="/assets/image/posts-img1.png", alt="rasm")
                br
                span.posts-item-date Marketing |#[  ] #[i.fa-regular.fa-calendar]  September 4, 2020 | #[i.fa-regular.fa-clock] 36 min
                h3.posts-item-heading What is traffic arbitrage and does it really make money?
                p.posts-item-desc Pharetra, ullamcorper iaculis viverra parturient sed id sed. Convallis proin dignissim lacus, purus gravida...
                button.posts-item-btn Listen #[i.fa-solid.fa-arrow-right]
    