section.subscription 
    img(src="/assets/image/subscription-bg-img1.png", alt="rasm").subscription-bg-img1
    img(src="/assets/image/subscription-bg-img2.png", alt="rasm").subscription-bg-img2
    .container 
        h6.subscription-heading1 Don’t miss anything
        h2.subscription-heading2 Subscribe to the Createx School announcements
        form.subscription-form
            input(type="email" placeholder="Your working email").subscription-input
            button.subscription-btn Subscribe