section.team 
    .container 
        .team-top 
            span.team-heading-wrapper 
                h3.team-heading1 Best tutors are all here
                h2.team-heading2 Meet our team

            span.team-slider-btn-wrapper 
                    i.fa-solid.fa-arrow-left-long
                    i.fa-solid.fa-arrow-right-long

        ol.team-list 
            li.team-list-item 
                img(src="/assets/image/team-list-item-img1.svg", alt="rasm")
                h3.team-item-heading Dianne Russell
                p.team-item-desc Founder and CEO
                span.team-item-link-wrapper
                    a(href="#").facebook  #[i.fa-brands.fa-facebook-f]
                    a(href="#").insta  #[i.fa-brands.fa-instagram ]
                    a(href="#").linkedin #[i.fa-brands.fa-linkedin-in]

            li.team-list-item 
                img(src="/assets/image/team-list-item-img1.svg", alt="rasm")
                h3.team-item-heading Dianne Russell
                p.team-item-desc Founder and CEO
                span.team-item-link-wrapper
                    a(href="#").facebook  #[i.fa-brands.fa-facebook-f]
                    a(href="#").insta  #[i.fa-brands.fa-instagram ]
                    a(href="#").linkedin #[i.fa-brands.fa-linkedin-in]

            li.team-list-item 
                img(src="/assets/image/team-list-item-img1.svg", alt="rasm")
                h3.team-item-heading Dianne Russell
                p.team-item-desc Founder and CEO
                span.team-item-link-wrapper
                    a(href="#").facebook  #[i.fa-brands.fa-facebook-f]
                    a(href="#").insta  #[i.fa-brands.fa-instagram ]
                    a(href="#").linkedin #[i.fa-brands.fa-linkedin-in]

            li.team-list-item 
                img(src="/assets/image/team-list-item-img1.svg", alt="rasm")
                h3.team-item-heading Dianne Russell
                p.team-item-desc Founder and CEO
                span.team-item-link-wrapper
                    a(href="#").facebook  #[i.fa-brands.fa-facebook-f]
                    a(href="#").insta  #[i.fa-brands.fa-instagram ]
                    a(href="#").linkedin #[i.fa-brands.fa-linkedin-in]

        section.student 
            .student-top 
                h6.student-heading1 TESTIMONIALS
                h2.student-heading2 What our students say

                span.student-main 
                    span.student-main-span1
                        i.fa-solid.fa-quote-left(style="color: #FFD43B")
                        p.student-main-desc Lorem ipsum dolor sit amet, consectetur adipiscing elit. Justo, amet lectus quam viverra mus lobortis fermentum amet, eu. Pulvinar eu sed purus facilisi. Vitae id turpis tempus ornare turpis quis non. Congue tortor in euismod vulputate etiam eros. Pulvinar neque pharetra arcu diam maecenas diam integer in.
                    span.student-main-span2
                        img(src="/assets/icon/student-profile-img.svg", alt="profile")
                        span 
                            h3.student-main-heading Eleanor Pena
                            p.student-main-desc Position, Course

        