section.why-section
    img(src="/assets/image/why-bg-img-left.png", alt="rasm").why-bg-img-left
    img(src="/assets/image/why-bg-img-right.png", alt="rasm").why-bg-img-right
    .container 
        .why-sec-left 
            img(src="/assets/image/why-sec-img.png", alt="rasm")
        .why-sec-right
            h6.why-heading1 Who we are
            h2.why-heading2 Why Createx?
            p.why-desc #[span A fermentum in morbi pretium aliquam adipiscing donec tempus.]
            p.why-desc #[span Vulputate placerat amet pulvinar lorem nisl.]
            p.why-desc #[span Consequat feugiat habitant gravida quisque elit bibendum id adipiscing sed.]
            p.why-desc #[span Etiam duis lobortis in fames ultrices commodo nibh.]
            p.why-desc #[span Tincidunt sagittis neque sem ac eget.]
            p.why-desc.why-desc-end #[span Ultricies amet justo et eget quisque purus vulputate dapibus tortor.]

            button.why-more-about-us-btn More about us        