.why-section{
    margin-top: 185px;
    margin-bottom: 180px;
    width: 100%;
    height: 560px;
    position: relative;

    .why-bg-img-left{
        position: absolute;
        left: 0;
        top: 20px;
    }

    .why-bg-img-right{
        position: absolute;
        right: 0;
        bottom: 0px;
    }
    .container{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 135px;

        .why-sec-left{
            img{
                width: 705px;
                height: 560px;
            }
        }

        .why-sec-right{
            .why-heading1{
                font-size: 16px;
                line-height: 150%;
                color: #1E212C;
                letter-spacing: 1px;
                font-weight: bold;
            }

            .why-heading2{
                font-size: 46px;
                line-height: 130%;
                color:#1E212C;
                font-weight: bold;
                margin-bottom: 40px;
            }

            .why-desc{
                font-size: 16px;
                line-height: 160%;
                color:#424551;
                text-align: left;
                display: flex;
                gap: 16px;

                span{
                    display: block;
                }
            }

            .why-desc::before{
                content: url(/assets/icon/check.svg);
            }

            .why-desc-end{
                margin-bottom: 22px;
            }
        }
    }
}